.left{float: left;}

.right{float:right;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

body{
	background-color: #FFF;
}

.wrapper{
	width: 1200px;
	margin:0 auto;
}
/*顶部层*/
#header{
	width: 100%;
	height: 111px;
	background-color: #0079c1;
}

#header .wrapper{
	position: relative;
}

.wrapper .logo{
	position: absolute;
	left: 6px;
	top: 0;
	z-index: 1;
}

.nav .nav{
	width: 600px;
	height: 111px;
}

.nav li{
	float: left;
	border-left: 1px solid #3394cd;
	margin: 45px 0;
}

.nav .cur{
	border-left: none; 
}

.nav li a{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #FFF;
	margin: 0 27px;
}

.nav li .first{
	margin-left: 0;
}

.nav li .last{
	margin-right: 0;
}

/*onmouseover到时候可以用jQuery写*/
.nav a:hover{
	font-weight: bold;
	border-bottom: 4px solid #FFF; 
}

/*展示内容*/
#banner{
	width: 100%;
	min-width: 1200px;
	height: 276px;
	background: #000;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

#banner .ban3{
	width: 1920px;
	height: 276px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}

/*主体内容*/
#mainbody{
	margin-top: 56px;
}

#mainbody .nav1 .fl_a{
	display: block;
	width: 276px;
	height: 56px;
	margin-top: 8px;
	background: #F0F0F0;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 56px;
	text-align: center;
	color: #00162d;
}
#mainbody .nav1 li{
	position: relative;
}
#mainbody .nav1 li .nav2{
	position: absolute;
	top: 0;
	left: 100%;
}

#mainbody .nav1 .cur{
	background: #0085cb;
	color: #FFF;
	margin-top: 0;
}

/*onmouseover效果*/
#mainbody .nav1 li:hover .fl_a{
	background: #0085cb;
	color: #FFF;
}

#mainbody .nav1 li:hover .nav2{
	display: block;
}

#mainbody .nav2{
	z-index: 5;
	display: none;
}

#mainbody .nav2 img{
	position: absolute;
	top: 16px;
	left: -30px;
}

#mainbody .nav2 .menu{
	background: #0085cb;
	width: 500px;
	padding: 5px 30px 15px 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#mainbody .nav1 .nav2 .menu .title{
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #fff;
	line-height: 47px;
}

#mainbody .nav1 .nav2 .menu p{
	width: 500px;
	height: 1px;
	background: #4daadb;
}

#mainbody .nav1 .nav2 .menu .fr_a{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	float: left;
	margin: 10px 25px 10px 0;
}

/*二级菜单onmouseover效果*/
#mainbody .nav1 .nav2 .menu a:hover{
	text-decoration: underline;
}

#mainbody .off_plan{
	position: relative;
	width: 842px;
	height: 649px;
}

#mainbody .office_plan{
	width: 100%;
}

#mainbody .office_plan .nav .item{
	position: absolute;
	left: 0;
	cursor: pointer;
	width: 21px;
	background: #0085cb;
	color: #FFF;
	font-size: 16px;
	line-height: 16px;
	padding: 25px 15px;
	border-bottom-left-radius: 8px;
	box-shadow: 0 3px 6.5px 0px rgba(1, 3, 4, 0.28);
}

#mainbody .office_plan .nav .item1{
	z-index: 4;
}

#mainbody .office_plan .nav .cur{
	background: #004F86;
}

#mainbody .office_plan .nav .item2{
	top: 156px;
	z-index: 3;
}

#mainbody .office_plan .nav .item3{
	top: 312px;
	z-index: 2;
}

#mainbody .office_plan .nav .item4{
	top: 433px;
	z-index: 1;
}

#mainbody .office_plan .img_box{
	width: 100%;
}

#mainbody .office_plan .img_box img{
	position: absolute;
	top: 0;
	left: 45px;
	display: none;
}

#mainbody .office_plan .img_box .cur{
	display: block;
}

#mainbody .off_plan img{
	position: absolute;
	top: 563px;
	left: 0;
	display: none;
}

#mainbody .off_plan .cur{
	display: block;
}

/*底部内容*/
#footer{
	background: #00162d;
	height: 60px;
	margin-top: 78px;
}

#footer span{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #28a8cf;
	line-height: 60px;
}